@charset"gb2312";
* {margin: 0px; padding: 0px;}
html{font-size: 100%;}
body{font-family: "Microsoft YaHei" ,"SimSun",serif;font-size:100%;}
h1{color: #363636; font-size: 3em;font-weight:normal;  }
ul{list-style: none;}
a img{border: none;}
a {color:#333; text-decoration: none;}
a:hover,a:active,a:focus{color:#d34e16;text-decoration: none;}
img{max-width: 100%;height: auto;width: auto; vertical-align: middle;}
p{line-height: 140%;}
.wrapper{width:90%;margin: 0px auto;}
header{border-bottom: #858585 1px solid; overflow:  hidden;margin:  10px 0;}
h1#logo{width: 260px; height: 65px; float: left;overflow: hidden;}
h1#logo>a>img{ height: 50px; width: 50px;vertical-align:middle}
h1#logo>a>span{ display: inline; height: 60px; line-height: 120%; font-size:0.8em}
nav{float: right;margin: 20px 0;}
nav li{display: inline;list-style: none;padding:1px;}
nav li a{display: inline-block;color: #fff;text-shadow:none; text-align: center; background: #333;padding: 8px 10px; min-width: 100px;}
nav li a:active,nav li a:hover{ background: #5caaae;color: #fff}

.banner{background: url(../images/banner_top.jpg) center top no-repeat #e7e7e7; overflow: hidden;position: relative; height: 210px;}
.headerPic{width: 130px; height: 130px;border-radius: 100%; overflow: hidden; border:#fff 4px solid; float: left;margin: 40px;}


.websiteDescription{position: absolute;top:20px;left: 0;background: rgba(92,170,174,.8);color: white;
opacity: 0;-webkit-transition:opacity .75s ease-out; -moz-transition:opacity .75s ease-out;-moz-transition:opacity .75s ease-out;
transition:opacity .75s ease-out;padding: 20px;}
.websiteDescription:hover{opacity: 1;}
.websiteDescription h2{color:#fff;font-size: 16px;margin-bottom: 10px;}


footer{background: #f3f3f3; margin: 20px;}
footer ul{padding: 10px 0;text-align: center;}
footer a{text-decoration: none;}

.clearfloat{clear: both;height: 0;line-height: 0;}

/*********************************Begin Media Queries****************************************/
/**************************/
/* for 960px or less */
@media screen and (max-width: 960px) {
.wrapper { width: 93.75%; /* 960px/1024px  */ margin: 0 auto; }
.websiteDescription { margin-left: 0; }
}
/* for 768px or less */
@media screen and (max-width: 768px) {
.mainContent { float: none; width: auto; }
.sidebar { margin: 0; }
h1#logo { float: none }
nav { float: none; }
nav li { display: block; list-style: none; padding: 1px; text-align: center; }
nav li a { display: block; }
}
/* for 480px or less */
@media screen and (max-width: 480px) {
h1#logo { float: none }
nav { float: none; }
nav li { display: block; list-style: none; padding: 1px; text-align: center; }
nav li a { display: block; }
}
@media (min-width: 981px) {
.websiteDescription { margin-left: 400px }
.bloglist figure { float: left; width: 233px; margin-right: 20px; margin-bottom: 10px; }
.bloglist figure img { padding: 4px; border: #f4f2f2 1px solid; width: 225px; }
}
