<!DOCTYPE html>
<html>
<head>
	<meta charset="gb2312"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta name="keyworks" content="个人博客,心情随想">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
</head>
<body>
	<div class="wrapper">
	<header>
		<h1 id="logo">
			<a href="{{ site.url }}" ><img src="images/nlogo.png" alt="一个牛圈"/><span>一个牛圈</span></a>
		</h1>
	</header>


	{{ content }}
	</div>
</body>
</html>