<!DOCTYPE html>
<html>
<head>
	<meta charset="gb2312"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta name="keyworks" content="个人博客,心情随想">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link href="themes/base.css" rel="stylesheet"/>
</head>
<body>
	<div class="wrapper">
	<header>
		<h1 id="logo">
			<a href="{{ site.baseurl }}" ><img src="{{ site.baseurl }}/images/nlogo.png" alt="一个牛圈"/><span>一个牛圈</span></a>
		</h1>
		<nav>
			<ul>
				<li><a href="{{site.baseurl}}">Blog</a></li>
				<li><a href="{{site.baseurl}}">前端技术</a></li>
				<li><a href="{{site.baseurl}}">Java</a></li>
				<li><a href="{{site.baseurl}}">C#</a></li>
				<li><a href="{{site.baseurl}}">慢生活</a></li>
				<li><a href="{{site.baseurl}}">碎言碎语</a></li>
				<li><a href="{{site.baseurl}}">关于我</a></li>
			</ul>
		</nav>
	</header>
	{{ content }}
	</div>
</body>
</html>