<!DOCTYPE html>
<html>
<head>
	<meta charset="gb2312"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta name="keyworks" content="个人博客,心情随想">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link href="{{ site.baseurl }}/themes/base.css" rel="stylesheet"/>
	<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/scripts/jquery.query.js"></script>
</head>
<body>
	<div class="wrapper">
	<header>
		<h1 id="logo">
			<a href="{{ site.baseurl }}" ><img src="{{ site.baseurl }}/images/nlogo.png" alt="牛圈"/><span>牛圈</span></a>
		</h1>
		<nav>
			<ul>
				<li><a href="{{site.baseurl}}">Blog</a></li>
				<li><a href="{{site.baseurl}}/web.html">前端技术</a></li>
				<li><a href="{{site.baseurl}}">Java</a></li>
				<li><a href="{{site.baseurl}}">C#</a></li>
				<li><a href="{{site.baseurl}}">慢生活</a></li>
				<li><a href="{{site.baseurl}}">碎言碎语</a></li>
				<li><a href="{{site.baseurl}}">关于我</a></li>
			</ul>
		</nav>
	</header>

	<div class="banner">
		<!--<div class="headerPic"><a href="{{ site.baseurl }}">我的个人博客</a></div>-->
		<img src="{{ site.baseurl }}/images/banner.png" />
		<div class="websiteDescription">
			<h2>热爱学习，努力工作，坚信生活再向好的方向发展</h2>
			<p>如果想成为一个团队的核心骨干，就必须学会在没有鼓励，没有认可，没有帮助，没有理解，没有宽容，没有退路，只有压力的情况下，一起和团队获得胜利。成功，只有一个定义，就是对结果负责。如果你靠别人的鼓励才能发光，你最多算个灯泡。我们必须成为发动机，去影响其他人发光，你自然就是核心！</p>
		</div>
	</div>


	{{ content }}
	<div class="clearfloat"></div>
	<footer>
		<ul>© 一个牛圈 
			<a href="tencent://message/?uin=626211114&Site=在线信息&Menu=yes">626211114</a>
	</footer>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }',
		    data = JSON.parse(dataStr),
		    curTag = $.query.get("tags"),
		    archieves = data[curTag];
		})
	</script>
</body>
</html>